.container {
  display: flex;
  flex-direction: row;
  margin: 20% auto 5% auto;
  max-width: 50%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.527);
  border: 1px solid white;
  border-radius: 10px;
  animation: fadein 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.container a {
  width: auto;
}

.github_only {
  width: 30%;
}

.github_link {
  padding: 10%;
  width: 50%;
  height: auto;
}

.openlink {
  padding: 10%;
  width: 50%;
}

.container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  on {
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .container {
    display: flex;
    margin: 2% auto;
    width: 10%;
  }

  .container a {
    display: flex;
    margin: auto;
  }

  .container img {
    margin: auto;
  }
}
