.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 5% 20% 0 0;
}

.label_input_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1% auto;
}

label {
  display: flex;
  flex-direction: column;
}

.input_field,
.email_field,
.message_field {
  padding: 2% 1%;
  border: 0;
  background-color: #a3dafa1a;
  border-bottom: 1px solid #053742;
}

.input_field:focus,
.email_field:focus,
.message_field:focus {
  background-color: #a3dafa34;
}

.input_field {
  width: 80%;
}

.message_field {
  height: 150px;
  resize: vertical;
  width: 100%;
}

.error {
  color: rgb(226, 64, 64);
}

.submit_button {
  font-size: 150%;
  width: 40%;
  color: white;
  margin: 10% auto auto 20%;
  padding: 1% 2%;
  border: 1px solid #053742;
  border-radius: 5px;
  background-color: #46bbfc;
  /* box-shadow: 0px 1px 2px 1px #053742; */
}

.submit_button:hover {
  background-color: #46bcfcf1;
}

.submit_button:hover {
  cursor: pointer;
}
