.greeting_container {
  margin-top: 5vh;
  padding: 5%;
  padding-left: 10%;
}

.hello {
  font-size: 300%;
  font-weight: 300;
  color: #46bbfc;
  margin: 0;
  padding: none;
}

.name {
  color: white;
  font-size: 500%;
  margin: 0;
  padding: none;
  color: #053742;
}

.subtitle {
  font-size: 400%;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #a3dafa;
  margin: 0;
}

.sidelinks_container {
  position: fixed;
  z-index: 2;
  width: 60%;
  height: 50vh;
  margin: 35vh auto 0 80vw;
}

/* <1050px screen width ——————————————————————————————————————————————————————————*/
@media (max-width: 1050px) {
  .hello {
    font-size: 200%;
  }

  .name {
    font-size: 400%;
  }

  .subtitle {
    font-size: 300%;
  }

  .sidelinks_container {
    position: fixed;
    z-index: 2;
    width: 60%;
    height: 50vh;
    margin: 35vh auto 0 80vw;
  }
}

/* <850px screen width ——————————————————————————————————————————————————————————*/
@media (max-width: 850px) {
  .hello {
    font-size: 170%;
  }

  .name {
    font-size: 320%;
  }

  .subtitle {
    font-size: 250%;
  }

  .sidelinks_container {
    position: fixed;
    z-index: 2;
    width: 60%;
    height: 50vh;
    margin: 35vh auto 0 80vw;
  }
}

/* <700px screen width ——————————————————————————————————————————————————————————*/
@media (max-width: 700px) {
  .hello {
    font-size: 160%;
  }

  .name {
    font-size: 250%;
  }

  .subtitle {
    font-size: 200%;
  }

  .sidelinks_container {
    position: fixed;
    z-index: 2;
    width: 60%;
    height: 50vh;
    margin: 35vh auto 0 80vw;
  }
}

/* <550px screen width ——————————————————————————————————————————————————————————*/
@media (max-width: 550px) {
  .hello {
    font-size: 150%;
  }

  .name {
    font-size: 220%;
  }

  .subtitle {
    font-size: 180%;
  }

  .sidelinks_container {
    position: fixed;
    z-index: 2;
    width: 60%;
    height: 50vh;
    margin: 35vh auto 0 80vw;
  }
}

/* <480px screen width ——————————————————————————————————————————————————————————*/
@media (max-width: 480px) {
  .hello {
    font-size: 120%;
  }

  .name {
    font-size: 200%;
  }

  .subtitle {
    font-size: 150%;
  }

  .sidelinks_container {
    position: fixed;
    z-index: 2;
    width: 60%;
    height: 50vh;
    margin: 35vh auto 0 80vw;
  }
}

/* <430px screen width ——————————————————————————————————————————————————————————*/
@media (max-width: 430px) {
  .hello {
    font-size: 100%;
  }

  .name {
    font-size: 150%;
  }

  .subtitle {
    font-size: 120%;
  }

  .sidelinks_container {
    position: fixed;
    z-index: 2;
    width: 60%;
    height: 50vh;
    margin: 35vh auto 0 80vw;
  }
}
