.projects_title {
  padding: 15% 10% 25% 10%;
  background-color: white;
}

.projects_title_text {
  font-size: 450%;
  background-color: transparent;
  margin: 0;
  padding-bottom: 3%;
  letter-spacing: 5px;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.projects_title_subtext1 {
  font-size: 150%;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 300;
}

.projects_title_subtext {
  font-size: 140%;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 200;
  padding-top: 4%;
}

/*—————————— Beyond is styling for third smallest mobile version ——————————*/
@media (max-width: 425px) {
  #workpage {
    background-color: beige;
  }

  .wrapper {
    min-height: none;
    width: 100%;
    background-color: beige;
  }

  .projects_title {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 70%;
    margin-top: 20%;
    padding-top: 10%;
    background-color: beige;
  }

  .projects_title_text {
    font-size: 320%;
  }

  .projects_title_subtext1 {
    font-size: 16px;
    margin-bottom: 0;
  }

  .projects_title_subtext2 {
    display: none;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 80%;
    padding-top: 30%;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/*—————————— Beyond is styling for smallest mobile version ——————————*/

@media (max-width: 320px) {
  #workpage {
    background-color: beige;
  }
  .wrapper {
    min-height: none;
    width: 100%;
    background-color: beige;
  }

  .projects_title {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 60%;
    margin-top: 20%;
    padding-top: 20%;
    background-color: beige;
  }

  .projects_title_text {
    font-size: 320%;
    padding-top: 5%;
  }

  .projects_title_subtext1 {
    font-size: 16px;
    margin-bottom: 0;
  }

  .projects_title_subtext2 {
    display: none;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 80%;
    padding-top: 30%;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/*—————————— Beyond is styling for second smallest mobile version ——————————*/

@media (max-width: 375px) {
  #workpage {
    background-color: beige;
  }

  .wrapper {
    min-height: none;
    width: 100%;
    background-color: beige;
  }

  .projects_title {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 60%;
    margin-top: 20%;
    padding-top: 10%;
    background-color: beige;
  }

  .projects_title_text {
    font-size: 320%;
  }

  .projects_title_subtext1 {
    font-size: 16px;
    margin-bottom: 0;
  }

  .projects_title_subtext2 {
    display: none;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 80%;
    padding-top: 30%;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/*—————————— Beyond is styling for smallest mobile version ——————————*/

@media (max-width: 320px) {
  #workpage {
    background-color: beige;
  }
  .wrapper {
    min-height: none;
    width: 100%;
    background-color: beige;
  }

  .projects_title {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 60%;
    margin-top: 20%;
    padding-top: 20%;
    background-color: beige;
  }

  .projects_title_text {
    font-size: 320%;
    padding-top: 5%;
  }

  .projects_title_subtext1 {
    font-size: 16px;
    margin-bottom: 0;
  }

  .projects_title_subtext2 {
    display: none;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 80%;
    padding-top: 30%;
    padding-left: 8%;
    padding-right: 8%;
  }
}
