.education {
  width: 100%;
}

.work {
  width: 100%;
}

.tree {
  width: 60%;
  /* box-shadow: 2px 2px 10px black; */
}

.sun {
  width: 60%;
}

.activities_container {
  display: flex;
  flex-direction: row;
}

.about_subheader {
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
}

.about_title_subtext1 a {
  text-decoration: none;
}

.about_container {
  padding: 5% 10% 10% 10%;
  background-color: white;
}

.about_title_text {
  font-size: 450%;
  background-color: transparent;
  margin: 0;
  padding-bottom: 3%;
  letter-spacing: 5px;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about_top h2 {
  letter-spacing: 2px;
  font-weight: 600;
}

.work,
.education {
  margin: 5%;
  padding: 2% 4%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 50px;
}

.about_title_subtext1 {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 25px;
  font-weight: 300;
  padding: 5%;
}

.about_bottom h2 {
  display: none;
  letter-spacing: 2px;
  font-weight: 100;
}

/* .about_title_subtext {
  font-size: 140%;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 200;
  padding-top: 4%;
} */

/*—————————— Beyond is styling for smallest mobile version ——————————*/
@media (max-width: 425px) {
  .about_container {
    padding-top: 10%;
    background-color: white;
  }

  .about_title_text {
    font-size: 320%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 100;
    letter-spacing: 5px;
  }

  .about_title_subtext1 {
    padding-top: 0;
  }

  .activities_container {
    flex-direction: column;
  }

  .tree {
    width: 90%;
    box-shadow: 0px 2px 5px black;
  }

  .sun {
    width: 90%;
    box-shadow: 0px 2px 5px black;
  }

  .work,
  .education {
    margin: 0;
    padding: 2%;
    border: none;
  }
}
